-- Global Migration: Convert all timestamp columns to timestamptz
-- This script finds all columns of type 'timestamp without time zone' in the public schema 
-- and converts them to 'timestamp with time zone'.

DO $$ 
DECLARE 
    r RECORD;
BEGIN
    FOR r IN 
        SELECT table_name, column_name 
        FROM information_schema.columns 
        WHERE table_schema = 'public' 
          AND data_type = 'timestamp without time zone'
          AND (column_name IN ('createdAt', 'updatedAt', 'startDate', 'endDate', 'checkInDate', 'checkOutDate', 'deliveryDate') 
               OR column_name LIKE '%Date' 
               OR column_name LIKE '%At')
    LOOP
        EXECUTE format('ALTER TABLE %I ALTER COLUMN %I TYPE timestamptz', r.table_name, r.column_name);
    END LOOP;
END $$;
